# ***Desarrollo API***
 Propones disponibilizar los datos de la empresa usando el framework FastAPI. Las consultas que propones son las siguientes:

Deben crear 6 funciones para los endpoints que se consumirán en la API, recuerden que deben tener un decorador por cada una (@app.get(‘/’)).

### Creamos Data Frame con el DataFrame Normalizado

In [20]:
import pandas as pd
import datetime as dt
from datetime import datetime
from fastapi import FastAPI

In [ ]:
df = pd.read_csv('./DataSet/movies_dataset_normalizado.csv' )

##### Levantamos nuestro servidor con FastAPI
uvicorn ProyectoApi:app --reload

In [ ]:
df.head(5)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,release_year,return
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,373554033.0,81.0,['English'],Released,NaN,Toy Story,7.7,1995,12.0
1,0,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,262797249.0,104.0,"['English', 'Français']",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,1995,4.0
2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,0.0,101.0,['English'],Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,1995,0.0
3,0,16000000.0,"['Comedy', 'Drama', 'Romance']",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,['Twentieth Century Fox Film Corporation'],['United States of America'],1995-12-22,81452156.0,127.0,['English'],Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,1995,5.0
4,Father of the Bride Collection,0.0,['Comedy'],11862,en,Just when George Banks has recovered from his ...,8.387519,"['Sandollar Productions', 'Touchstone Pictures']",['United States of America'],1995-02-10,76578911.0,106.0,['English'],Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,1995,0.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45376 entries, 0 to 45375
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  45376 non-null  object
 1   budget                 45376 non-null  float64
 2   genres                 45376 non-null  object
 3   id                     45376 non-null  int64
 4   original_language      45365 non-null  object
 5   overview               44435 non-null  object
 6   popularity             45376 non-null  float64
 7   production_companies   45376 non-null  object
 8   production_countries   45376 non-null  object
 9   release_date           45376 non-null  object
 10  revenue                45376 non-null  float64
 11  runtime                45130 non-null  float64
 12  spoken_languages       45376 non-null  object
 13  status                 45296 non-null  object
 14  tagline                20398 non-null  object
 15  title                  45376 non-null  object
 16  vote_average           45376 non-null  float64
 17  release_year           45376 non-null  int64
 18  return                 45376 non-null  float64
dtypes: float64(6), int64(2), object(11)
memory usage: 6.6+ MB

In [ ]:
df.columns

Index(['belongs_to_collection', 'budget', 'genres', 'id', 'original_language',
       'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'release_year', 'return'],
      dtype='object')

#### A-) def peliculas_mes(mes): '''Se ingresa el mes y la funcion retorna la cantidad de peliculas que se estrenaron ese mes historicamente''' return {'mes':mes, 'cantidad':respuesta}

In [ ]:
df["release_date"] = pd.to_datetime(df["release_date"])
df["release_month_name"] = df['release_date'].dt.month_name()
df["release_month_name"]

0         October
1        December
2        December
3        December
4        February
           ...
45371         May
45372    November
45373      August
45374     October
45375        June
Name: release_month_name, Length: 45376, dtype: object

In [ ]:
df["release_date"] = pd.to_datetime(df["release_date"])
df["release_month_name"] = df["release_date"].dt.month
df["release_month_name"]

0        10
1        12
2        12
3        12
4         2
         ..
45371     5
45372    11
45373     8
45374    10
45375     6
Name: release_month_name, Length: 45376, dtype: int32

mes_letras= [
    df["release_month_name"] == 1,
    df["release_month_name"] == 2,
    df["release_month_name"] == 3,
    df["release_month_name"] == 4,
    df["release_month_name"] == 5,
    df["release_month_name"] == 6,
    df["release_month_name"] == 7,
    df["release_month_name"] == 8,
    df["release_month_name"] == 9,
    df["release_month_name"] == 10,
    df["release_month_name"] == 11,
    df["release_month_name"] == 12
]
opciones_mes_letras = [Enero, Febrero, Mae]

In [ ]:
def peliculas_mes(mes: str):
    respuesta = df["release_month_name"][df["release_month_name"].str.contains(f"{mes}")].count()
    return {'mes':mes, 'cantidad':respuesta}

In [ ]:
def peliculas_mes(mes: str):
    respuesta = df["release_month_name"][df["release_month_name"].str.contains(f"{mes}")].count()
    if respuesta > 0:
        return {'mes':mes, 'cantidad':respuesta}
    return "Invalido"

In [ ]:
print(peliculas_mes("Eneo"))
print(peliculas_mes("Febrero"))

AttributeError: Can only use .str accessor with string values!

#### B-) def peliculas_dia(dia): '''Se ingresa el dia y la funcion retorna la cantidad de peliculas que se estrebaron ese dia historicamente''' return {'dia':dia, 'cantidad':respuesta}

In [ ]:
df["release_day_name"] = df['release_date'].dt.day_name(locale='es')

In [ ]:
def peliculas_dia(dia: str):
    respuesta = df["release_day_name"][df["release_day_name"].str.contains(f"{dia}")].count()
    if respuesta > 0:
        return {'dia':dia, 'cantidad':respuesta}
    return "Valor invalido"

In [ ]:
print(peliculas_dia("Lunes"))
print(peliculas_dia("Mates"))

{'dia': 'Lunes', 'cantidad': 3503}
Valor invalido

#### C-) def franquicia(franquicia): '''Se ingresa la franquicia, retornando la cantidad de peliculas, ganancia total y promedio''' return {'franquicia':franquicia, 'cantidad':respuesta, 'ganancia_total':respuesta, 'ganancia_promedio':respuesta}

In [ ]:
def franquicia(franquicia: str):
    ft = df["belongs_to_collection"][df["belongs_to_collection"].str.contains(franquicia)]
    gt = df["revenue"][df["belongs_to_collection"].str.contains(franquicia)]
    return {'franquicia':franquicia, 'cantidad': ft.count(), 'ganancia_total':gt.sum(), 'ganancia_promedio':gt.sum()/ft.count()}

In [ ]:
franquicia("Father of the Bride Collection")

{'franquicia': 'Father of the Bride Collection',
 'cantidad': 2,
 'ganancia_total': 165904691.0,
 'ganancia_promedio': 82952345.5}

#### D-) def peliculas_pais(pais): '''Ingresas el pais, retornando la cantidad de peliculas producidas en el mismo''' return {'pais':pais, 'cantidad':respuesta}

In [ ]:
def peliculas_pais(pais: str):
    pp = df["production_countries"][df["production_countries"].str.contains(f"{pais}")]
    return   {'pais':pais, 'cantidad':pp.count()}

In [ ]:
peliculas_pais("Spain")

{'pais': 'Spain', 'cantidad': 964}

#### E-) def productoras(productora): '''Ingresas la productora, retornando la ganancia total y la cantidad de peliculas que produjeron''' return {'productora':productora, 'ganancia_total':respuesta, 'cantidad':respuesta}

In [ ]:
def productoras(productora: str):
    pt = df["production_companies"][df["production_companies"].str.contains(f"{productora}")]
    ptg = df["revenue"][df["production_companies"].str.contains(f"{productora}")]
    return {'productora':productora, 'ganancia_total':ptg.sum(), 'cantidad':pt.count()}

In [ ]:
productoras("20th Century Fox Television")

{'productora': '20th Century Fox Television',
 'ganancia_total': 42000000.0,
 'cantidad': 22}

#### F-) def retorno(pelicula): '''Ingresas la pelicula, retornando la inversion, la ganancia, el retorno y el año en el que se lanzo''' return {'pelicula':pelicula, 'inversion':respuesta, 'ganacia':respuesta,'retorno':respuesta, 'anio':respuesta}

In [ ]:

def retorno(pelicula):
    plGan = df["revenue"][(df["title"] == f"{pelicula}") & (df["return"] > 0) ]
    plInv = df["budget"][(df["title"] == f"{pelicula}") & (df["return"] > 0) ]
    plRet = df["return"][(df["title"] == f"{pelicula}") & (df["return"] > 0) ]
    anio = df["release_year"][(df["title"] == f"{pelicula}") & (df["return"] > 0) ]
    anio = anio[anio.index[0]]
    
    return {'pelicula':pelicula, 'inversion':plInv.sum(), 'ganacia':plGan.sum(),'retorno':plRet.median(), 'anio': anio}

In [ ]:
pl = df[["title", "budget", "revenue", "return"]][(df["title"] == "Robin Hood") ]
pl

            title       budget      revenue  return
2915   Robin Hood   15000000.0   32056467.0     2.0
12258  Robin Hood          0.0          0.0     0.0
15195  Robin Hood  200000000.0  310669540.0     1.0
45371  Robin Hood          0.0          0.0     0.0

In [ ]:
pl = df[["title", "budget", "revenue", "return"]][(df["title"] == "Robin Hood") & (df["return"] > 0) ]
pl

            title       budget      revenue  return
2915   Robin Hood   15000000.0   32056467.0     2.0
15195  Robin Hood  200000000.0  310669540.0     1.0

In [ ]:
retorno("Robin Hood")

{'pelicula': 'Robin Hood',
 'inversion': 215000000.0,
 'ganacia': 342726007.0,
 'retorno': 1.5,
 'anio': 1973}

#### G-) def recomendacion('titulo'): '''Ingresas un nombre de pelicula y te recomienda las similares en una lista de 5 valores''' return {'lista recomendada': respuesta}

In [ ]:
def recomendacion(titulo: str):
    plReco = df["title"][df['title'].str.contains(f"{titulo}")]
    return  {'lista recomendada': list(plReco) }

In [ ]:
recomendacion("Robin Hood")

{'lista recomendada': ['Robin Hood: Men in Tights',
  'The Adventures of Robin Hood',
  'Robin Hood: Prince of Thieves',
  'Paradise Lost: The Child Murders at Robin Hood Hills',
  'Robin Hood',
  'Robin Hood',
  'Robin Hood',
  "Welcome to Sherwood! The Story of 'The Adventures of Robin Hood'",
  'The Last of Robin Hood',
  'The Story of Robin Hood and His Merrie Men',
  'Robin Hood']}

#### Instalr Libreria de entorno virtual 
* pip install virtualenv

#### Creamos ul entorno virtual de nombre env
* virtualenv -p python3 env

#### Activar el entorno virtual

* .\env\Scripts\activate   # Ingresamos es la ruat de activate
*